*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(238, 243, 243);
}
.fwlogo{
    position: absolute;
}
.navBar{
    margin-left: 15%;
    position: fixed;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
ul li{
    float: left;
    text-align: center;
    line-height: 130%;
    height: 40px;
    width: 175px;
    background-color: rgb(238, 243, 243);
    font-size: 25px;
}
ul li a {
    text-decoration: none;
    color: black;
    text-shadow: black 0px 0px 1px;
    display: block;
  }
ul li a:hover{
    color: red;
    width: auto;
}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
}
.title{
    font-weight: 100;
    text-align: center;
    font-size: 275%;
}
.loginform {
    position: relative;
    padding: 20px;
    font-size: x-large;
    text-align: center;
}
.formbox {
    height: 490px;
    width: 600px;
    border-radius: 20px;
    background-color :white;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}
.input{
    height: 30px; 
    width: 250px;
    margin: 20px;
    border: none;
    color: white;
    background-color: black; 
    border-radius: 10px;
    padding: 10px; 
    font-size: large;
}
.button{
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 13px;
    height: 50px; width: 100px;
    color: white; background-color: black;
    border: none;
    font-size: 15px;
}