
body{
    background-image: url("fw-mainbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000;
}
.fwlogo {
    position: absolute;
    top: 17px;
    left: 20px;
    height: 43px;
    width: 43px; 
}
#fwlogoname {
    position: absolute;
    top: 22px;
    left: 59px;
    font-size: 150%;
}
.navbar{  
    font-size: 150%;
    color: black;
    padding-top: 0.5%;
}
ul li{
    display: inline-block;
}
ul li a:hover{
    border-radius: 20px;
    border: 1px solid ;
    color: black;
    background-color: transparent
}
ul li.active a{
    border-radius: 20px;
    border: 1px solid ;    
    color: white;
    background-color: black;      
}
ul {   
    margin-top: 0.5%;
    margin-left:0.05%;    
}       
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 0.05% solid transparent;
    transition: 0.5s ease;
}
.thiru{
    font-size: 50px;
    color: rgb(0, 0, 187) 
}  
 .cen{
     text-align: center;
 }
 .p1  {
       margin-left: 7%;
       margin-right: 7%;
       font-size: 25px;
       color:rgb(57, 97, 57);
    }
    h2{
        font-size: 25px;
        text-align: center;
    }
.notice{
    border: 2px solid orange;
}
h1{
    text-align: center;
    color: purple;
}

h3{
    color:#ff0000;
    font-size: 30px;
    text-align: center;
}
h4{
    text-align: center;
    color: brown; 
}
.pro{
    border: 2px solid orange;
    background-color: white;
    width: 30%;
    display:inline-block;
    margin-left: 2.5%;
    border-radius: 7%;
    margin-bottom: 5%;
    
}
.bro{
    border: 2px solid orange;
    background-color: white;
    width: 30%;
    display:inline-block;
    margin-left: 35%;
    border-radius: 7%;
    margin-bottom: 5%;
    
}
.profile{
    height: 60%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border-radius: 50%; 
}
td{
    text-align: left;
    color: maroon;
}
.tab{
    margin-left: auto;
    margin-right: auto; 
    font-size: 20px;
    text-align: center;

}
button{
    cursor: pointer;
    background-color:#fff;
    color: #008CBA;
    font-size: 27px;
    border: none; 
    text-decoration: none;
    margin-left: 165px;
    border-radius: 10%
}
button:hover{
    background-color: #008CBA;
    color:#fff;
    top: 10px;
    border-radius: 20px;
}
#contact{
    text-align: center;
    border: 2px solid #000;
    display: inline-block;
    margin-left: 39%;
    padding: 2%;
    border-radius: 5%;
}