*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(238, 243, 243);
}
.fwlogo{
    position: absolute;
}
.navBar{
    margin-left: 15%;
    position: fixed;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
ul li{
    float: left;
    text-align: center;
    line-height: 130%;
    height: 40px;
    width: 175px;
    background-color: rgb(238, 243, 243);
    font-size: 25px;
}
ul li a {
    text-decoration: none;
    color: black;
    text-shadow: black 0px 0px 1px;
    display: block;
  }
ul li a:hover{
    color: red;
    width: auto;
}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
}
.section{
    width: 60%;
    height: auto;
    border-radius: 2px;
    background-color:#669db3ff;
    margin-left: 5%;
    display: inline-block;
}
.title{
    color: aliceblue;
    text-align: center;
}
.main{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 auto;
}
.contant-item{
    color:black;
    border-radius: 3px;
    background-color: aliceblue;
    margin-bottom: 10px;
    padding: 5px;
    /* box-shadow: ; */
}
.contant-link{
    background-color: aliceblue;
    text-decoration: none;
    color:#669db3ff;
    font-size: 200%;    
}
.ans{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 700ms;
}
.ans::before{
    content: " ";
    width: 0.7%;
    height: 90%;
    background-color: darkgray;
    position: absolute;
    left: 0;
}
.ans p{
    font-size: 120%;
    margin-left: 1px;
    padding: 3%;
}
:target{
    max-height: 100px;
}
.tit{
    color:#669db3ff;
    font-size: 600%;
}
.pagemain{
    display: flex;
}
.input{
    margin-left: 3%;
    width: 35%;
    height: 72vh;
    margin-right: 3%;
    border-radius: 2px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #669db3ff;
}
.query{
    border-radius: 3px;
    width: 100%;
    margin: auto;
    margin-top: 10%;
    border: none; 
    background-color: whitesmoke;
    font-size: 130%;
    height: 235px;
    resize: none;
    box-shadow: 0px 0px 40px; 
}
.mail{
    border-radius: 3px;
    width: 100%;
    margin: auto;
    border: none; 
    background-color: whitesmoke;
    font-size: 130%;
    margin-top: 5%;
    height: 50px;
    box-shadow: 0px 0px 40px; 
    /* line-height: 28px; */
}
.btn{
    background-color:whitesmoke;
    height: 55%;
    width: 30%;
    border-radius: 3px;
    font-size: 120%;
    border: none;
    color: black;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    box-shadow: 0px 0px 40px; 
}
.btn:hover{
    background-color: black;
    color:whitesmoke;
    
}




/* <div class="contant-item">
<a class="contant-link" href="#sample3"> sdfghjkl </a>
<div class="ans" id="sample3">
  <p> asdfghjkl; </p>
</div>
</div> */