.img {
    border-radius: 20px;
    margin-left: 3%;
    width: 30%;
    height: 300px;
}
*{
font-family: 'Open Sans', sans-serif;
}
body{
background-color: rgb(238, 243, 243);
}
.fwlogo{
position: absolute;
}
.navBar{
margin-left: 15%;
}
ul{
list-style: none;
margin: 0;
padding: 0;

}
ul li{
float: left;
text-align: center;
line-height: 130%;
height: 40px;
width: 175px;
background-color: rgb(238, 243, 243);
font-size: 25px;
}
ul li a {
text-decoration: none;
color: black;
text-shadow: black 0px 0px 1px;
display: block;
}
ul li a:hover{
color: red;
}
ul li ul li {
display: none;
}
ul li:hover ul li{
display: block;
}
.cen{
    text-align: center;
}