*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(238, 243, 243);
}
.fwlogo{
    position: absolute;
}
.navBar{
    margin-left: 15%;
    position: fixed;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
ul li{
    float: left;
    text-align: center;
    line-height: 130%;
    height: 40px;
    width: 175px;
    background-color: rgb(238, 243, 243);
    font-size: 25px;
}
ul li a {
    text-decoration: none;
    color: black;
    text-shadow: black 0px 0px 1px;
    display: block;
  }
ul li a:hover{
    color: red;
}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
}
.img {
    border-radius: 20px 20px;
    width : 30%;
    height : 300px;
    margin-left : 3%;
    margin-bottom: 5%;
}
pre {
    font-size : 20px;
}
.center{
    text-align: center;
}
.title{
    margin-left: 15%;
    font-size: 660%;
    color: #669db3ff;
}