body {
    background-image: url("../images/fw-mainbg.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #000;
}
.navbar {
    height: 40px;
    font-size: x-large;
    border-radius: 20px;
    color: black;
    padding-top: 10px;
}
.fwlogo {
    position: absolute;
    top: 10px;
    left: 20px;
}
#fwlogoname {
    position: absolute;
    top: 17px;
    left: 59px;
}
ul {
    list-style-type: none;
    margin-top: 10px;
    margin-left: 1px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
ul li a:hover {
    border-radius: 20px;
    border: 1px solid;
}
ul li.active a {
    border: 1px solid black;
    color: black;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.batn {
    background-color: blue;
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    position: absolute;
    top: 50px;
    right: 15px;
    box-shadow: 10px 10px 60px;
}
.btn{
    background-color: blue;
    height: 50px;
    width: 150px;
    font-size: 20px;
    border: none;
    border-radius: 100px;
    position: absolute;
    top: 120px;
    right: 15px;
    box-shadow: 10px 10px 60px;
}
.batn:hover
{
    background-color: white;
    color: black;
}
#contact {
    background-color: transparent;
    color: black;
}
img {
    border-radius: 20px;
}
.intropic{
    width: 80%;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
}