.kau{
    background-color: white;
    width: 30%;
    height: 30vh;
    border-radius: 24px;
    box-shadow: 0 0 6px 3px;
    margin-left: 35%;
    padding-left: 4%;
    margin-top: 5%;
    padding-top: 5%;
}
td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}
h1{
    font-family: fantasy;
    font-size: 50px;
    margin-left: 41%;
}
.Submit{
    margin-left:10%;
    background-color: transparent;
    position: absolute;
    margin-top: 12%;
}
.su:hover{
    background-color: yellow;
}
.ba:hover{
    background-color:powderblue;
}
.ba{
    margin-left: 50%;
    margin-top: 5.2%;
}
.ba a{
    text-decoration: none;
    color: black;
}
.anna{
    background-color: white;
    width: 20%;
    height: 20vh;
    border-radius: 24px;
    box-shadow: 0 0 6px 3px;
    padding-left: 5%;
    margin-left: 35%;
    margin-top: 5%;
    padding-top: 2%;
}
.thambi{
    background-color: transparent;
    position: absolute;
    margin-top: 6%;
    margin-left: 3%;
}
.kau h2{
    margin-left:20%;
    margin-top: -10%;
    font-size: 2vw;
}
.kau ul li{
    font-size: 1vw;
}
.pras{
    background-color: white;
    width: 30%;
    height: 40vh;
    border-radius: 24px;
    box-shadow: 0 0 6px 3px;
    margin-left: 35%;
    padding-left: 4%;
    margin-top: 10%;
    /* padding-top: 8%; */
}
.pras h2{
    margin-left: 27%;
    margin-bottom: 10%;
    font-size: 2vw;
}
.be{
    margin-left:50% ;
    margin-top: 2.8%;
}
.be:hover{
     background-color: powderblue;
}
.bc{
    margin-left: 40%;
    margin-top: -5.1%;
}
.bc:hover{
    background-color: powderblue;
}

