*{
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(238, 243, 243);
}
.fwlogo{
    position: absolute;
}
.navBar{
    margin-left: 15%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;

}
ul li{
    float: left;
    text-align: center;
    line-height: 130%;
    height: 40px;
    width: 175px;
    background-color: rgb(238, 243, 243);
    font-size: 25px;
}
ul li a {
    text-decoration: none;
    color: black;
    text-shadow: black 0px 0px 1px;
    display: block;
  }
ul li a:hover{
    color: red;
}
ul li ul li {
    display: none;
}
ul li:hover ul li{
    display: block;
}
.search{
    margin-top: 5%;
    align-items: center;
    text-align: center;
}
.box{
    width: 35%;
    height: 35px;
    border-radius: 15px;
    font-size: 120%;
}
.btn{
    width: 7%;
    margin-top: 0.5%;
    height: 25px;
    border-radius: 10px;
    font-size: 120%;
    background-color:#000;
    color: aliceblue;
}
.btn:hover{
    color: #000;
    background-color: aliceblue;
}
.title{
    font-size: 200%;
    text-align: center;
}
.navbar {
    height: 40px;
    font-size: x-large;
    border-radius: 20px;
    color: black;
    padding-top: 10px;
}
.fwlogo {
    position: absolute;
    top: 10px;
    left: 20px;

}

#fwlogoname {
    position: absolute;
    top: 17px;
    left: 59px;
}
.result{
    margin: auto;
    margin-top:3%;
    width: 70%;
    border-collapse: collapse;
    border: 1px solid black;
    font-size: 140%;
}
.row{
    border-collapse: collapse;
    border: 1px solid black;    
    padding: 1%;
}
/* <tr>
<th class="row">
    Name
</th>
<th class="row">
    Date Of Birth
</th>
<th class="row">
    Father's Name
</th>
<th class="row">
    Email
</th>
<th class="row">
    Result
</th>
</tr>
<tr>
<td class="row"></td>
<td class="row"></td>
<td class="row"></td>
<td class="row"></td>
<td class="row"></td>
</tr> */